  /* For desktop: */
  .swiper-container {
    margin-top: 48px;
    margin-bottom: 20px;
    //width: 100%;
    margin-left: auto;
    margin-right: auto;


    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
  }

#ross_menu {
  .menu {
    background: #000;
    border-top: 1px solid #fff;
  }
  .fixed {
    .dropdown.simple {
      position: static;
      .dropdown-content {
        position: absolute;

      }
      .container {
        display: flex;
      }
    }
  }

  .menu {
    .dropdown2 {
      .menu {
        position: absolute;
        left: 0;
      }
    }
  }

  .toc.item {
    display: none;
  }
  @media only screen and (max-width: 700px) {
    .ui.fixed.menu.secondary {
      .item {
        display: none;
      }
      .toc.item {
        display: block;
      }
    }

  }
}

.featurettes {
  .ui.container {
    padding: 12px;
  }
}

.ross-other-products {
  padding-bottom: 40px;
}
