.ui {
  .dropdown {

  }
}
#ross_menu {
  .dropdown {
    position: static;
    .menu {
      position: absolute;
    }
    .container {
      display: flex;
    }
  }
  .menu {
    .dropdown2 {
      .menu {
        position: absolute;
        left: 0;
      }
    }
    .test {
      height: 300px;
    }
  }
}
